<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/account" class="nav-link">Account</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About company</a></li>
                    <li class="nav-item"><a href="/orders" class="nav-link">Orders</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="/count" class="nav-link">Count</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>