<!DOCTYPE html>
<!--план на страницу: сделать всплывающее окошко редактирования и создания наших данных,
например: две кнопки: создать и редактировать, каждая будет видна при своем условии: если для этого
аккаунта нет записи в таблице с компаниями, то активна "создать портфолио", иначе - "изменить портфолио"
для кажой кнопик будет всплывающее окно, а на самой страничке будет портфолио компании-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <div th:insert="~{/fragments/headLinks :: head_fragment}"></div>
      <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
      <script th:src="@{/js/about_company.js}"></script>
  </head>
  <body>

  <div th:replace="~{/fragments/header :: header}"></div>

  <div th:replace="~{/fragments/top_fragment :: top_fragment}"></div>

  <div class="col-sm-9" style="margin-left: auto; margin-right: auto; margin-top: 20px">
      <input type="submit" value="Портфолио"  id="createCompanyBtn" class="btn btn-primary">
  </div>

  <section class="">
      <div class="container">
          <div class="row">
              <div id="companyInfoBlock" class="col-md-4"> </div>
              <div class="col-md-8" style="margin-top: 10px">
                  <h5 class="mb-4" style="margin-left: 40px">Маршруты доставки</h5>
                  <div class="wrapper" style="margin-left: 40px">
                      <table id="waysTable" class="table">
                          <tr>
                              <th>Точка отправления</th> <!--1-->
                              <th>Точка назначения</th> <!--2-->
                              <th>Возможный путь доставки</th> <!--3-- здесь будет выпадающий список для экономии места -->
                              <th><i class="fa fa-plus-circle" id="createWayBtn" style="color: #ffc107"></i></th>
                              <th></th>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="companyModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="companyModalLabel"></h5>
              </div>
              <form id="companyForm">
                  <div class="modal-body">
                      <label for="companyModalName">Название</label>
                      <input class="form-control" id="companyModalName" type="text" placeholder="Название компании" required value=""/><br>

                      <label for="companyModalContact">E-mail</label>
                      <input class="form-control" id="companyModalContact" type="text" placeholder="E-mail" required value=""/><br>

                      <label for="companyModalDescription">Описание</label>
                      <textarea class="form-control" id="companyModalDescription" type="text" placeholder="Общая информация о компании" required value=""></textarea><br>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                      <button id="companySubmit" type="submit" class="btn success">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <div class="modal fade" id="wayModal" tabindex="-1" role="dialog" aria-labelledby="wayModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="wayModalLabel"></h5>
              </div>
              <form id="wayForm">
                  <div class="modal-body">
                      <label for="wayModalStartPoint">Начальная точка пути</label>
                      <input class="form-control" id="wayModalStartPoint" type="text" placeholder="Начальная точка" required value=""/><br>

                      <label for="wayModalEndPoint">Конечная точка пути</label>
                      <input class="form-control" id="wayModalEndPoint" type="text" placeholder="Конечная точка" required value=""/><br>

                      <label for="wayModalPointNumber">Число промежуточных узлов</label>
                      <input class="form-control" id="wayModalPointNumber" type="text" placeholder="Число узлов" required value=""><br>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                      <button id="waySubmit" type="submit" class="btn success">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <div class="modal fade" id="intervalWayModal" tabindex="-1" role="dialog" aria-labelledby="wayModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="intervalWayModalLabel"></h5>
              </div>
              <form id="intervalWayForm">
                  <div class="modal-body">
                      <div id="pathInputsContainer"></div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                      <button id="intervalWaySubmit" type="submit" class="btn success">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <div th:insert="~{/fragments/headLinks :: script_fragment}"></div>

  <div th:insert="~{/fragments/footer :: footer}"></div>
  </body>
</html>