<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <div th:insert="~{/fragments/headLinks :: head_fragment}"></div>
	  <script th:src="@{/js/search.js}"></script>
  </head>
  <body>

  <div th:replace="~{/fragments/header :: header}"></div>
  <div th:replace="~{/fragments/top_fragment :: top_fragment}"></div>
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row no-gutters mb-5" >
								<div class="col-md-7" >
									<div class="contact-wrap w-100 p-md-5 p-4" > <!--w-100 размер всей этой хрени -->
										<h3 class="mb-4">Подбор перевозчика</h3>
										<form id="goodsCountForm" name="goodsCountForm" class="goodsCountForm">
											<label for="userSearchTypes">Выберите тип транспорта</label>
											<select id="userSearchTypes" name="userSearchTypes" class="form-control" >
												<option value="" selected></option>
												<option value="SEA">Море</option>
												<option value="RAILWAY">Железная дорога</option>
												<option value="AUTO">Авто</option>
												<option value="AIR">Воздух</option>
												<option value="BC">Навалочный груз</option>
											</select><br>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="price">Стоимость</label>
														<input type="text" class="form-control" name="price" id="price" placeholder="Стоимость">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="weight">Вес груза</label>
														<input type="text" class="form-control" name="weight" id="weight" placeholder="Вес груза">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="startPoint">Точка отправления</label>
														<input type="text" class="form-control" name="startPoint" id="startPoint" placeholder="Точка отправления">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="endPoint">Точка прибытия</label>
														<input type="text" class="form-control" name="endPoint" id="endPoint" placeholder="Точка прибытия">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="distance">Расстояние</label>
														<input type="text" class="form-control" name="startPoint" id="distance" placeholder="Расстояние">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="time">Время доставки</label>
														<input type="text" class="form-control" name="time" id="time" placeholder="Время">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="submit" value="Найти" class="btn btn-primary">
														<input type="button" value="Очистить" class="btn btn-primary" onclick="clearForm()">
													</div>
												</div>
											</div>

										</form>
									</div>
								</div>
								</div>
							</div>
					</div>
			</div>
		</div>
		</div>
		</div>
    </section>

	<section class="ftco-section">
		<div class="container" >
			<div class="row justify-content-center" >
				<div id="searchTableBlock" class="col-md-12" style="display: none;">
					<h3 class="mb-4">Грузоперевозчики</h3>
					<div class="wrapper" >
						<table id="userSearchTable" class="table">
							<tr>
								<th>Точка отправления</th> <!--1-->
								<th>Точка назначения</th> <!--2-->
								<th>Расстояние</th> <!--3-->
								<th>Время доставки</th> <!--4-->
								<th>Вид транспорта</th> <!--5-->
								<th>Тариф</th> <!--6-->
								<th>Общая стоимость</th> <!--7-->
								<th>Максимальный вес</th> <!--8-->
								<th></th> <!--9 для кнопки заявки на заказ-->
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <div th:insert="~{/fragments/headLinks :: script_fragment}"></div>

  <div th:insert="~{/fragments/footer :: footer}"></div>
  </body>
</html>